.container {
    width: 50%; /* Each container takes half the width of the view */
    height: 100%;
    position: absolute;
    top: 0;
}

#fixedContainer{
    left: 0;
    position:fixed
}

#scrollingContainer{
    right: 0;
    overflow-y: auto;
}

#links{
    position: absolute;
    right: 30%;
}

#icon{
    height: 200px;
    width: 200px;
}

h1{
    margin-top:1.2em;
    color: rgb(12,12,140);
}

#info{
    line-height: 1.5em;
}

a{
    text-decoration: none;
    color: palevioletred;
}

a:hover{
    color:blue;
}

p{
    color: aliceblue;
}

li{
    color: aliceblue;
}

body{
    font-family: 'Courier New', monospace; 
    background-color: rgb(15 23 42);
    padding-left: 200px;
    padding-right: 10px;
}

h2{
    color: rgb(12,12,140);
    border-bottom:1px solid;
    margin-top:1.2em;
}
