body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: radial-gradient(ellipse at top, #26384d 1%, #161e2e 70%)
}

.container {
    display: flex;
    height: 100%;
}

#fixed {
    overflow-y: hidden; /* Keeps the container from scrolling */
    flex-direction: column;
    width: 48%;
    padding-left: 15%;

    padding-top: 5%;
}

#navPanel{
    display: flex;
    flex-direction: column;
}

#scrollable {
    overflow-y: scroll; /* Enables vertical scrolling */
    flex-direction: column;
    width: 52%;
    padding-right: 15%;
}

#icon{
    height: 200px;
    width: 200px;
}

a{
    text-decoration: none;
    color: palevioletred;
}

a:hover{
    color:blue;
}

p{
    color: #a3acb6;
}

li{
    /*color: #b7bbbf;*/
    color: #a3acb6;
}

h3{
    color: whitesmoke;
}

h4{
    color: #edf2fb;
}

.highlight{
    /*color: #edf2fb;*/
    color: whitesmoke;
    font-size: 1.05em;
    display: inline;
}

#title{
    color: whitesmoke;
    margin-bottom: 0;
}

.sections{
    color: whitesmoke;
    border-bottom:1px solid;
    margin-top:1.2em;
}

#skills{
    column-count: 2;
    column-gap: 20px;
}

#name{
    margin-top:1.2em;
    color: whitesmoke;
    font-family: 'cambria', serif;
    font-size: 400%;
    margin-bottom: 0.1em;
}